@model Prueba_Tecnica_Poli.Models.Libro

@{
    ViewData["Title"] = "Detaller Libro";
}

<div class="container m-4 p-4">
    <div class="card p-4">
        <div class="card-title text-center">
            <h1 class="text-info">Detalles del Libro</h1>
            <hr />
        </div>
        <div class="card-body">
            <p>
                <a asp-action="Index" class="btn btn-danger"><img width="30" height="30" src="https://img.icons8.com/sf-black-filled/64/back.png" alt="back" /> Atrás</a>
                <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model?.IdLibro">Editar</a>
            </p>
            <div class="row px-5">
                <dl class="row">
                    <dt class="col-sm-2 bg-warning">
                        @Html.DisplayNameFor(model => model.Titulo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Titulo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NumPaginas)
                    </dt>
                    <dd class="col-sm-10 bg-warning">
                        @Html.DisplayFor(model => model.NumPaginas)
                    </dd>
                    <dt class="col-sm-2 bg-warning">
                        @Html.DisplayNameFor(model => model.FecPublicacion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FecPublicacion)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IdAutorNavigation)
                    </dt>
                    <dd class="col-sm-10 bg-warning">
                        @Html.DisplayFor(model => model.IdAutorNavigation.NombreCompleto)
                    </dd>
                    <dt class="col-sm-2 bg-warning">
                        @Html.DisplayNameFor(model => model.IdEditorialNavigation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdEditorialNavigation.Nombre)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
